@import url('./animations.css');
audio::-webkit-media-controls-panel {
    background-color: rgb(100, 100, 100);
    border: 1px solid rgb(20, 20, 20) !important;
    color: white;
}


.topmenu .groupBox {
    width: 95% !important;
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

label {
    background-color: rgb(26, 26, 26) !important;
    border: 1px solid rgb(20, 20, 20) !important;
    color: white !important;
}

input[type="text"], input[type="file"], select {
    background-color: rgb(36, 36, 36) !important;
    border: 1px solid rgb(20, 20, 20) !important;
    color: white !important;
}

.middleMenu {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 50px;
}

input[type="submit"] {
    margin: 0 auto;
}

.preview {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 350px;
    margin-bottom: 5px;
}

.middleMenu .groupBox {
    width: 100% !important;
}

button {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#followVolumeHandler,
#followDurationHandler,
#subVolumeHandler,
#subDurationHandler,
#spellVolumeHandler,
#spellDurationHandler,
#giftVolumeHandler,
#giftDurationHandler {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    border-radius: 50%;
    background-color: var(--button-green) !important;
    color: white !important;
}

.space {
    display: flex !important;
    align-items: center !important;
}

    .space label {
        margin-right: 4px !important;
    }


#followColor, #subColor, #spellColor, #giftColor  {
    position: absolute;
    top: -370px;
    left: 10%;
    width: fit-content;
    height: fit-content;
    background-color: rgb(20, 20, 20);
    z-index: 60000;
    padding: 10px;
    border: 1px solid var(--border-color);
}