@import url('./root.css');
@import url("./shared.css");

.followerWrapper {
    width: 95%;
}

.followerTitle {
    display: flex;
    justify-content: space-evenly;
    color:white;
}

.followerContent {
    height: 600px;
    width: 100%;
    overflow-y: auto;
}

.follower {
    height: 35px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    list-style: none;
    color:white;
}

.follower div {
    background-color: red;
    overflow: hidden;
}

.followerIcon {
    width: 26px !important;
    height: 26px !important;
}


.cnorm {
    background-color: rgb(73, 73, 73) !important;
    color:white !important;
}

.cdark {
    background-color: rgb(15, 15, 15) !important;
    color:white !important;
}

#followerTable_length label, #followerTable_filter, #followerTable_info, #followerTable_previous,#followerTable_next {
    color: white !important;
}

#followerTable_length option {
    background-color: var(--bg-color) !important;
}

#followerTable {
    border-collapse: collapse; 
    border: 1px solid var(--border-color) !important;
}

#followerTable th {
    background-color: var(--border-color);
}

#followerTable tbody td {
    border-bottom: 1px solid var(--border-color) !important;
}

#followerTable tbody tr:last-child td {
    border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color:white !important; 
}
