.cnorm {
    background-color: rgb(73, 73, 73);
}

.cdark {
    background-color: rgb(15, 15, 15);
}

input, select {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    color: white;
    z-index: 100;
}

select {
    height: 34px !important;
}
